nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "80cc2c62167ba4ae",
        "type": "mqtt-broker",
        "name": "mosquittoRT",
        "broker": "172.17.0.5",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f27fb72db2b28ca6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-influxdb": "0.7.0"
        }
    },
    {
        "id": "7887553d371d44a9",
        "type": "ui_tab",
        "name": "Batiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50c0b2d9bf5019f6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f962e52294970be8",
        "type": "ui_group",
        "name": "Capteurs Température",
        "tab": "7887553d371d44a9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7c6019b6cd4199d",
        "type": "influxdb",
        "hostname": "192.168.1.71",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "Capteurs Base",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "fd991e40263c8911",
        "type": "mqtt-broker",
        "name": "IOT Blagnac",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "12f8a876d46bd83a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensors/AM107/by-room/E208/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd991e40263c8911",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "7362fa13bb25e4c3"
            ]
        ]
    },
    {
        "id": "5af0b0b06e0e46e3",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "ad3ea9b3fdd49d0c",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f962e52294970be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température E208",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2b4e2b7b56a8849",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d7c6019b6cd4199d",
        "name": "",
        "measurement": "temperature,building=RT,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "7362fa13bb25e4c3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "var data = msg.payload[0];\nmsg.payload = data.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "d2b4e2b7b56a8849",
                "ad3ea9b3fdd49d0c",
                "5af0b0b06e0e46e3"
            ]
        ]
    },
    {
        "id": "363b069ab9db3c17",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensors/AM107/by-room/E104/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd991e40263c8911",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "e727a3917b30a7b7"
            ]
        ]
    },
    {
        "id": "e3d5bdc85d8fb3db",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 860,
        "wires": []
    },
    {
        "id": "26985af93110d93a",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f962e52294970be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température E104",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 860,
        "wires": []
    },
    {
        "id": "6be98e533fd0db80",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d7c6019b6cd4199d",
        "name": "",
        "measurement": "temperature,building=RT,room=E104",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "e727a3917b30a7b7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "var data = msg.payload[0];\nmsg.payload = data.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "6be98e533fd0db80",
                "26985af93110d93a",
                "e3d5bdc85d8fb3db"
            ]
        ]
    },
    {
        "id": "1d77f3f368da7ed5",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensors/AM107/by-room/B102/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd991e40263c8911",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 160,
        "wires": [
            [
                "6df296febf09654e"
            ]
        ]
    },
    {
        "id": "5745d688ada12e44",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 440,
        "wires": []
    },
    {
        "id": "de2deff7872ffb76",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f962e52294970be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température B102",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 440,
        "wires": []
    },
    {
        "id": "20bbed413a66cb00",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d7c6019b6cd4199d",
        "name": "",
        "measurement": "temperature,building=B,room=B102",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "6df296febf09654e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "var data = msg.payload[0];\nmsg.payload = data.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "20bbed413a66cb00",
                "de2deff7872ffb76",
                "5745d688ada12e44"
            ]
        ]
    },
    {
        "id": "206fd207682f1118",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensors/AM107/by-room/B202/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd991e40263c8911",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 580,
        "wires": [
            [
                "7f879b8602ca5dcd"
            ]
        ]
    },
    {
        "id": "cae6619816afdba6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 860,
        "wires": []
    },
    {
        "id": "b4c0441786ccb7bd",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f962e52294970be8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température B202",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 860,
        "wires": []
    },
    {
        "id": "028907f46b959f9f",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "d7c6019b6cd4199d",
        "name": "",
        "measurement": "temperature,building=B,room=B202",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1190,
        "y": 780,
        "wires": []
    },
    {
        "id": "7f879b8602ca5dcd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "var data = msg.payload[0];\nmsg.payload = data.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 680,
        "wires": [
            [
                "028907f46b959f9f",
                "b4c0441786ccb7bd",
                "cae6619816afdba6"
            ]
        ]
    }
]
